*{
    /* background-color: #444950; */
    /* color: white; */
    
}
body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.MainForm{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.AccountMadeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 655px;
}