*{
    /* background-color: #444950; */
    /* color: white; */
}
body{
    background-color: #f8f9fa;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.MainForm{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.AccountMadeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 655px;
}